@charset "utf-8";
/* CSS Document */
*{
	margin: auto;
}

.clear:after{
	content: "";
	clear: both;
	display: block;
}

.bottom{
	width:100%;
	height: 455px;
	background-color: #222325;
}

.bottom-1{
	width: 50%;
	height: 455px;
	/*background-color: antiquewhite;*/
	float: left;
}

.bottom-span1{
	display: inline-block;
	font-size: 33px;
	font-family: "微软雅黑";
	font-weight: bold;
	color: #FF6537;
	display:block;
	margin-top: 35px;
	margin-left: 80px;
}

.bottom-div2{
	font-size: 23px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	margin-top:50px;
	margin-left: 80px;
}


.bottom-div3{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	display:inline-block;
	margin-top: 30px;
	margin-left: 80px;
}

.bottom-div4{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	display:inline-block;
	margin-top: 30px;
	margin-left: 60px;
}

.bottom-div5{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	display:inline-block;
	margin-top: 30px;
	margin-left: 80px;
}

.bottom-div6{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	display:inline-block;
	margin-top: 30px;
	margin-left: 35px;
}

.bottom-div7{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	margin-top: 30px;
	margin-left: 80px;
}

.bottom-div8{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	margin-top: 30px;
	margin-left: 80px;
}



.bottom-2{
	width: 50%;
	height: 455px;
	/*background-color: antiquewhite;*/
	position: relative;
	float: left;
}

.bottom-div9{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	display:inline-block;
	margin-top: 60px;
}

.bottom-div10{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	display:inline-block;
}

.messageText{
	height: 30px;
	width: 210px;
	color: #A9A9A9;
/*	outline: none;*/
	background-color: #4D4D4D;
/*	border: 2px solid #4C6EA5;*/
	border: none;
	padding-left: 5px;
}

.bottom-div11{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	display:inline-block;
	margin-top: 100px;
	margin-left: 60px;
}

.bottom-div12{
	font-size: 15px;
	font-family: "微软雅黑";
	color: #B5B4B4;
	margin-top:60px;
	line-height: 0px;
}
.bottom-div12 div{
	display:inline-block;
	margin-right: 10px;
	position: absolute;
}
.messageText2{
	height: 90px;
	width: 550px;
	color: #A9A9A9;
/*	outline: none;*/
	background-color: #4D4D4D;
/*	border: 2px solid #4C6EA5;*/
	border: none;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 45px;
	margin-top: -5px;
	resize:none;
}

.submit{
	width: 185px;
	height: 40px;
	outline: none;
	border: none;
	background-color: #F54F4F;
	border-radius: 10px 10px 10px 10px;
	color: white;
	font-size: 15px;
	cursor: pointer;
	margin-top: 20px;
	margin-left: 30%;
}

.error{
	color: #A80908;
	font-size: 14px;
}









